<div class="container" *ngIf="user">
  <img [src]="user.avatar_url" [alt]="user.login" class="img-fluid mb-5 d-block mx-auto avatar img-thumbnail">

  <h1 class="text-uppercase mb-5 text-center" *ngIf="user.name">{{user.name}}</h1>
  <hr class="star-light">
  <div class="text-center">
    <h2 class="font-weight-light mt-5 mb-0">
      <a [href]="user.url" target="_blank">{{user.login}}</a>
    </h2>
    <p class="text-dark mt-2">User since: {{user.created_at | date}}</p>
  </div>

  <h4 class="font-weight-light text-secondary mt-5" *ngIf="user.bio">About me:</h4>
  <p class="text-dark mt-2" *ngIf="user.bio">
    {{user.bio}}
  </p>

  <hr class="star-light mt-5 mb-5">

  <h2 class="font-weight-light text-secondary mb-3" *ngIf="followers && followers.length > 0">Followers:</h2>

  <div *ngIf="followers && followers.length > 0" class="mb-5">
    <table class="table">
      <thead class="bg-dark text-white">
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{head}} </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let follower of followers | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
        <td class="w-100px align-middle">
          <img [src]="follower.avatar_url" [alt]="follower.login" class="img-thumbnail">
        </td>
        <td class="align-middle">{{follower.id}}</td>
        <td class="align-middle">{{follower.login}}</td>
        <td class="w-50px align-middle">
          <a [routerLink]="['/user', follower.login]">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
    <ngb-pagination
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="followers.length"
      class="d-flex justify-content-end"></ngb-pagination>
  </div>
</div>
