<form>
  <div class="form-group">
    <input type="text" class="form-control" id="searchByUsername" placeholder="Type a username" #usernameInput
           (keyup)="searchByUsername(usernameInput.value)">
  </div>
</form>
<table class="table mb-5">
  <thead class="bg-dark text-white">
    <tr>
      <th *ngFor="let head of headElements" scope="col">{{head}} </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of listOfUser">
      <td class="w-100px align-middle">
        <img [src]="user.avatar_url" [alt]="user.login" class="img-thumbnail">
      </td>
      <td class="align-middle">{{user.id}}</td>
      <td class="align-middle">{{user.login}}</td>
      <td class="align-middle">{{user.type}}</td>
      <td class="align-middle">{{user.score}}</td>
      <td class="w-50px align-middle">
        <a [routerLink]="['/user', user.login]">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
