@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

a{
  color: #6c757d;
}

.w-100px{
  width: 100px;
}

.w-50px{
  width: 50px;
}

.page-item{
  &.active{
    .page-link {
      background-color: #6c757d;
      border-color: #6c757d;
    }
  }
  .page-link{
    color: #6c757d;
  }
}

